:root{
    --primaryColor: hsl(94, 55%, 56%);
    --hoverColor: hsl(93, 75%, 76%);
    --paleGreen: hsl(94, 55%, 89%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --greyText: hsl(0, 0%, 75%);
    --bgColor: hsl(113, 11%, 85%);
    --inputColor: hsl(330, 12%, 97%);


    /*Font and typography*/
    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1rem;
    --normalFontSize: .938rem;
    --smallFontSize: .813rem;
    --smallestFontSize:.75rem;

}

.pointer{
    display: flex;
    width: 52.5%;
    height: 62px;
    display: flex;
    align-items: end;
    justify-content: center;
    

}
.square{
    display: flex;
    box-shadow: 0 2px 0px rgba(0,0,0,8);
    width: 25%;
    justify-content: center;
    margin-left: 14%;
    border-radius: 5px;
    border: 1px solid #87cd51;
    display: flex;
    flex-direction: column;
}

.square div{
    width: 100%;
    display: flex;
    justify-content: center;
}

.infos p span{
    color: #87cd51;
    font-size: 18px;
    font-weight: 600;
}

.infos p {
    color: var(--blackColor);
    font-size: 15px;
    font-weight: 600;
    display: flex;
}

.infos{
    display: flex;
    flex-direction: column;
    padding: 5rem;
}

.infos p span{
    margin-top: -5px;
    margin-left: 15px;
}
.infos p span:hover{
    color: var(--blackColor);
    background-color: #87cd51;
    padding: .3rem;
    border-radius: 10px;
}
.square h1{
    margin: 1rem;
    color: var(--blackColor) ;
    border-radius: 10px;

}


.square h1:hover{
    color: var(--primaryColor) ;

}
.square h1 span:hover{
    background-color: #87cd51;
    color: var(--whiteColor);
    border-radius: 5px;
}
.stepper1{
    margin-left: 5.5%;
    width: 100%;

}
.stepper2{
    margin-left: 14.5%;
    width: 100%;

}

.stepper3{
    margin-left: 24%;
    width: 100%;
}

.stepper4{
    margin-left: 33%;
    width: 100%;
}

.stepper5{
    margin-left: 42%;
    width: 100%;
}

.btn1{
    width: 50%;
    height: 50px;
    background-color: var(--paleGreen);
    color: var(--blackColor);
    padding: .5rem;
}

.btn1:hover{
    width: 50%;
    height: 50px;
    background-color: var(--primaryColor);
    color: var(--whiteColor);
    cursor: pointer;

}